

# Среды разработки (IDEs)
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Системные файлы
.DS_Store
Thumbs.db

# BackInBlack (Java / Maven)
target/
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/local.properties
backend/*.log

# Front(Node.js / JavaScript / TypeScript)
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.pnp/
frontend/.pnp.js
/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.next.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Локальные данные баз данных (из Docker)
.postgres_data/
